<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/burger_styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Oleo+Script:700&display=swap" rel="stylesheet">
    <title>Eat Da Burger</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/burgerFavicon_30-30.png">
</head>

<body>
    {{{ body }}}
</body>

</html>